/*feuille de style pour mon premier formulaire HTML*/

body {
   background-color:khaki;
}

/* ici les styles pour le formulaire */

fieldset {
   border: 1px solid orange;
}

legend {
   background-color: sandybrown;
}