/* feuille de style pour la page des float  */

body {
    background-color: lightyellow;
}

.boite {
    /* une image en arrière-plan  */
    background: url(../img/siamois.jpg);
    /* l'image ne se répète pas  */
    background-repeat: no-repeat;
    width: 260px;
    height: 194px;
    border: 25px solid white;
    /* effet flottant : permet de placer des balises côte à côte alors que selon le flux du web standard les éléments se placent les uns au dessus des autres */
    float: left;
    transition: border 1s;
}

/* on modifie au passage de la souris */
.boite:hover {
    border: 25px solid orange;
}
.clear {
    /* supprime l'effet flottant  */
    clear: both;
}

/* une pseudo class */

a:hover {
    background-color: orange;
    color: white;
}