/* feuille de style pour la page display   */


body {
    background-color: pink;
}

.encadre {
    border: 1px solid black;
    padding: 2px;
    /* display: block; */
}

/* :hover c'est une pseudo class au survol de la souris */
a:hover {
    background: cornflowerblue;
    color: white;
}

/* avec cette class je peux modifier l'affichage normal de la balise de type inline à laquelle j'affecte cette class et qui devient de type block  */
.block {
    display: block;
}

/* avec cette class je peux faire le contraire ; midifier une balise de type block qui devient de type inline */
.inline {
    display: inline;
}