/* style pour le cubitus 1  */

body {
    background-color: gainsboro;
    color: white;
}

.c1, .c2 {
    /* background-color: gold; */
    width: 150px;
    height: 150px;
    margin: 5px;

    float: left;

    border: 10px solid white;
    border-radius: 20%;

    text-align: center;
}

.c1 {
    background-color: darkorange;
}

.c2 {
    background-color: brown;
}
.clear {
    clear: both;
}