@charset "utf-8";
/* CSS Document */

/* feuille de style pour le dossier des exercices ebook  */

body {
    background-color: cornsilk;
}

/* styles pour la DL, les DT et les DD  */


dl {
    border: 2px solid orange;
    width: 50%;
    padding: 20px;
}

dt {
    background-color: lightskyblue;
    margin-top: 10px;
    font-weight: bold;
    color:white;
    width: 50%;
}

dd {
   
}

dl code {
    background-color: whitesmoke;
}

/* style pour bien voir les réponses aux questions  */
.reponse {
    background-color: gold;
    font-style: italic;
}

